/* 
----------------------
ANNOTATION HIGHLIGHTING
---------------------- 
*/
.document-io-annotated-element {
  outline: 1px solid rgba(0, 150, 255, 0.5) !important;
  transition: box-shadow 0.3s ease-in-out;
}

.document-io-annotated-element-shadow {
  box-shadow: 0 10px 15px -3px rgba(0, 150, 255, 0.5),
    0 4px 6px -4px rgb(0, 150, 255, 0.5) !important;
}

.document-io-annotated-element:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 150, 255, 0.5),
    0 4px 6px -4px rgb(0, 150, 255, 0.5) !important;
}

.document-io-hovered-element {
  outline: 1px solid rgba(255, 0, 0, 0.5) !important;
  transition: box-shadow 0.3s ease-in-out;

}

.document-io-hovered-element:hover {
  box-shadow: 0 10px 15px -3px rgba(255, 0, 0, 0.5),
    0 4px 6px -4px rgba(255, 0, 0, 0.5) !important;
}

.document-io-annotated-element-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 150, 255, 0.5);
  color: white;
  padding: 0px;
  cursor: pointer;
}



@scope (#document-io-root) {
  /* 
  ----------------------
  MARKDOWN EDITOR STYLES
  ---------------------- 
  */
  div.w-md-editor-preview {
    * {
      color: var(--var-slate-900);
      font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    }

    ul {
      margin-left: 0 !important;
      list-style-type: disc !important;

      ul {
        list-style-type: circle !important;

        ul {
          list-style-type: square !important;

          ul {
            list-style-type: disc !important;

            ul {
              list-style-type: circle !important;

              ul {
                list-style-type: square !important;
              }
            }
          }
        }
      }
    }

    ol {
      margin-left: 0 !important;
      list-style-type: decimal !important;
      ol {
        list-style-type: lower-alpha !important;
        ol {
          list-style-type: lower-roman !important;
          ol {
            list-style-type: upper-alpha !important;
            ol {
              list-style-type: upper-roman !important;
            }
          }
        }
      }
    }

  }

  div.w-md-editor-area.w-md-editor-input {
    * {
      color: var(--var-slate-900);
      font-size: var(--var-text-base) !important;
    }
  
    .w-md-editor-text, 
    .w-md-editor-text pre,
    .w-md-editor-text code
     {
      min-height: 100% !important;
    }
  
    textarea {
      background: transparent !important;
      border: 0px none rgb(36, 41, 47) !important;
      width: 100% !important;
      height: 100% !important;
    }
  }

  /* 
  ----------------------
  MARKDOWN RENDERER STYLES
  ---------------------- 
  */
  .md-renderer {
    p {
      margin-bottom: 0.5rem;
    }
  }

}
