.document-io-annotated-element {
  border: 2px solid rgba(0, 150, 255, 0.5) !important;
  transition: box-shadow 0.3s ease-in-out;
}

.document-io-annotated-element:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 150, 255, 0.5),
    0 4px 6px -4px rgb(0, 150, 255, 0.5) !important;
}

.document-io-hovered-element {
  border: 1px solid rgba(255, 0, 0, 0.5) !important;
  transition: box-shadow 0.3s ease-in-out;

}

.document-io-hovered-element:hover {
  box-shadow: 0 10px 15px -3px rgba(255, 0, 0, 0.5),
    0 4px 6px -4px rgba(255, 0, 0, 0.5) !important;
}

.document-io-annotated-element-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 150, 255, 0.5);
  color: white;
  padding: 0px;
  /* z-index: 9998; */
}