@tailwind base;
@tailwind components;
@tailwind utilities;

/* Picks up tailwind config from ui folder */

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p {
  margin-top: 100px;
}